@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  margin: 0;
}
html {
  width: 1080px;
  margin: 0 auto;
}
body {
  background-color: #242424;
}
.by {
  text-align: right;
  color: #DDDDDD;
  background-color: #242424;
  border-radius: 5px;
  padding: 2.5%;
  height: 50px;
  margin: 5% auto;
}
.container {
  background-color: #434343;
  border-radius: 5px;
  padding: 2.5%;
  height: 300px;
  margin: 5% auto;
}
button:hover {
  box-shadow: inset 0 5px 5px 0 #434343;
}
.buttons {
  margin-left: 20%;
  margin-top: 7.5%;
  font-family: "Montserrat";
  background-color: #DDDDDD;
  font-size: 20px;
  padding: 5%;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-align: center; 
}
.col-md-8 {
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
  margin-top: 15%;
}
table {
  border: 2px solid #7777DD;
  border-collapse: collapse;
  margin-top: -20%;
  margin-left: 35%;
}
table:not(.game-over) td {
  cursor: pointer;
}
td button {
  left: -100vw;
  position: absolute;
}
.o {
  color: #7777DD;
}  
.o:after{
  content: "O";
  top: -0.2em;
}
.x {
  color: #7777DD;
}  
.x:after{
  content: "X";
  top: -0.2em;
}
td {
  border: 1px solid #DDDDDD;
  height: 6em;
  width: 6em;
  position: relative;
  text-align: center;
  border-collapse: collapse;
}
.misc {
  margin-top: 15%;
  text-align: center;
}
.score {
  display: inline;
  font-size: 200%; 
}
.p1 {
  margin-right: 15%;
  color: #7777DD;
}
.p2 {
  margin-left: 15%;
  color: #DD7777;
}
.caption {
  font-size: 200%;
  font-family: "Pacifico";
  color: #DDDDDD;
}
.again {
  margin-left: 7.5%;
  margin-top: 8%;
  margin-bottom: 0%;
  font-family: "Montserrat";
  background-color: #DDDDDD;
  font-size: 20px;
  padding: 5%;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center; 
}
.menu {
  margin-left: 50%;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: "Montserrat";
  background-color: #DDDDDD;
  font-size: 20px;
  padding: 5%;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center; 
}